aiohttp~=3.8.3
fastapi~=0.88.0
starlette~=0.23.0
uvicorn~=0.20.0
colorama~=0.4.6
peewee~=3.15.4
pydub~=0.25.1
beautifulsoup4~=4.11.1
loguru~=0.6.0
aiogram~=3.0.0b6
vkbottle~=4.3.12
pydantic~=1.10.2
rarfile~=4.0
toml~=0.10.2
pymysql
python-box
sc_compression